xlwings~=0.36.10
pandas~=3.0.5
langchain~=1.3.14
langchain-classic~=1.0.8
langchain-core~=1.5.1
langchain-openai~=1.4.1
python-dotenv~=1.2.2
Pillow~=12.3.0
chainlit~=2.11.1
pydantic~=2.13.4
tabulate~=0.10.0
mcp~=1.28.1
openpyxl~=3.1.5
openai~=2.48.0
