xlwings~=0.33.6
pandas~=2.2.3
langchain~=0.3.15
langchain_community
langchain_openai
python-dotenv~=1.0.1
langchain-core~=0.3.31
langchain-openai~=0.3.2
Pillow
chainlit~=2.0.601
pydantic~=2.10.6
tabulate